html {
  color: #1a1a1a;
  background-color: #fdfdfd;
}
body {
  margin: 0 auto;
  max-width: 60em;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  hyphens: auto;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  font-family: Verdana, Geneva, sans-serif;
}
@media (max-width: 600px) {
  body {
    font-size: 0.9em;
    padding: 12px;
  }
  h1 {
    font-size: 1.8em;
  }
}
@media print {
  html {
    background-color: white;
  }
  body {
    background-color: transparent;
    color: black;
    font-size: 12pt;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3, h4 {
    page-break-after: avoid;
  }
}
p {
  margin: 1em 0;
}
a {
  color: #1a1a1a;
}
a:visited {
  color: #1a1a1a;
}
img {
  max-width: 100%;
}
svg {
  height: auto;
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 1.4em;
}
h5, h6 {
  font-size: 1em;
  font-style: italic;
}
h6 {
  font-weight: normal;
}
ol, ul {
  padding-left: 1.7em;
  margin-top: 1em;
}
li > ol, li > ul {
  margin-top: 0;
}
blockquote {
  margin: 1em 0 1em 1.7em;
  padding-left: 1em;
  border-left: 2px solid #e6e6e6;
  color: #606060;
}
code {
  font-family: Menlo, Monaco, Consolas, 'Lucida Console', monospace;
  font-size: 85%;
  margin: 0;
  hyphens: manual;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
pre {
  margin: 1em 0;
  overflow: auto;
}
pre code {
  padding: 0;
  overflow: visible;
  overflow-wrap: normal;
}
.sourceCode {
  background-color: transparent;
  overflow: visible;
}
hr {
  background-color: #1a1a1a;
  border: none;
  height: 1px;
  margin: 1em 0;
}
table {
  margin: 1em 0;
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
  display: block;
  font-variant-numeric: lining-nums tabular-nums;
}
table caption {
  margin-bottom: 0.75em;
}
tbody {
  margin-top: 0.5em;
  border-top: 1px solid #1a1a1a;
  border-bottom: 1px solid #1a1a1a;
}
th {
  border-top: 1px solid #1a1a1a;
  padding: 0.25em 0.5em 0.25em 0.5em;
}
td {
  padding: 0.125em 0.5em 0.25em 0.5em;
}
header {
  margin-bottom: 4em;
  text-align: center;
}
#TOC li {
  list-style: none;
}
#TOC ul {
  padding-left: 1.3em;
}
#TOC > ul {
  padding-left: 0;
}
#TOC a:not(:hover) {
  text-decoration: none;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  html {
    color: #e0e0e0;
    background-color: #1a1a1a;
  }
  a {
    color: #6db3f2;
  }
  a:visited {
    color: #b392f0;
  }
  blockquote {
    border-left-color: #555;
    color: #aaa;
  }
  code {
    background-color: #2d2d2d;
  }
  pre {
    background-color: #2d2d2d;
    padding: 0.5em;
  }
  hr {
    background-color: #555;
  }
  tbody {
    border-color: #555;
  }
  th {
    border-color: #555;
  }
  /* Syntax highlighting */
  code span.al { color: #ff6b6b; font-weight: bold; } /* Alert */
  code span.an { color: #8a8a8a; font-style: italic; } /* Annotation */
  code span.at { color: #e9c46a; } /* Attribute */
  code span.bn { color: #f4a261; } /* BaseN */
  code span.bu { color: #8cc5ff; } /* BuiltIn */
  code span.cf { color: #c792ea; font-weight: bold; } /* ControlFlow */
  code span.ch { color: #a9dc76; } /* Char */
  code span.cn { color: #f4a261; } /* Constant */
  code span.co { color: #8a8a8a; font-style: italic; } /* Comment */
  code span.cv { color: #8a8a8a; font-style: italic; } /* CommentVar */
  code span.do { color: #8a8a8a; font-style: italic; } /* Documentation */
  code span.dt { color: #78dce8; } /* DataType */
  code span.dv { color: #f4a261; } /* DecVal */
  code span.er { color: #ff6b6b; font-weight: bold; } /* Error */
  code span.ex { color: #8cc5ff; } /* Extension */
  code span.fl { color: #f4a261; } /* Float */
  code span.fu { color: #8cc5ff; } /* Function */
  code span.im { color: #a9dc76; } /* Import */
  code span.in { color: #8a8a8a; font-style: italic; } /* Information */
  code span.kw { color: #c792ea; font-weight: bold; } /* Keyword */
  code span.op { color: #e0e0e0; } /* Operator */
  code span.ot { color: #89ddff; } /* Other */
  code span.pp { color: #c792ea; } /* Preprocessor */
  code span.sc { color: #a9dc76; } /* SpecialChar */
  code span.ss { color: #a9dc76; } /* SpecialString */
  code span.st { color: #a9dc76; } /* String */
  code span.va { color: #f78c6c; } /* Variable */
  code span.vs { color: #a9dc76; } /* VerbatimString */
  code span.wa { color: #e9c46a; font-style: italic; } /* Warning */
}
